<nav
  class="flex items-center justify-between flex-wrap bg-gray-800 text-white p-4 md:px-8"
>
  <div class="hidden md:block w-full md:w-auto">
    <ul class="flex space-x-4">
      <li>
        <a routerLink="/dashboard" class="text-gray-300 hover:text-white"
          >Dashboard</a
        >
      </li>
      <li>
        <a routerLink="/contact" class="text-gray-300 hover:text-white"
          >Contact</a
        >
      </li>
    </ul>
  </div>

  <div class="hidden md:block">
    <input type="text" *ngIf="showSearchField" class="border p-2 rounded" />
    <button
      class="md:block bg-gray-600 px-3 py-1 rounded"
      (click)="toggleSearch()"
    >
      Search
    </button>
  </div>

  <button
    id="menu-button"
    class="md:hidden inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-300 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-gray-500"
    (click)="toggleMobileMenu()"
  >
    <span class="sr-only">Open menu</span>
    <svg
      class="w-6 h-6"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"
      />
    </svg>
  </button>

  <div class="hidden md:block relative">
    <div class="ml-4 flex items-center">
      <div class="text-left">
        <span class="font-semibold text-white">Notifications</span>
      </div>
      <button
        id="dropdown-button"
        class="ml-2 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-gray-500"
        (click)="toggleNotifications()"
      >
        <svg
          class="w-4 h-4"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          />
        </svg>
      </button>
    </div>

    <ul
      id="dropdown-content"
      class="absolute right-0 mt-4 p-4 bg-gray-800 rounded-md text-white shadow-md"
      [class.hidden]="!showNotifications"
    >
      <li>
        <span class="hover:text-gray-300">John invited you</span>
      </li>
      <li>
        <span class="hover:text-gray-300">You have message from Peter</span>
      </li>
    </ul>
  </div>

  <div class="hidden md:block">
    <div class="ml-4 flex items-center">
      <img
        src="https://img.freepik.com/premium-vector/female-user-profile-avatar-is-woman-character-screen-saver-with-emotions_505620-617.jpg"
        alt="Profile picture"
        class="w-8 h-8 rounded-full mr-2"
      />
      <div class="text-left">
        <span class="font-semibold text-white">John Doe</span>
      </div>
      <button
        id="dropdown-button"
        class="ml-2 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-gray-500"
        (click)="toggleUserDropdown()"
      >
        <svg
          class="w-4 h-4"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          />
        </svg>
      </button>
    </div>

    <ul
      id="dropdown-content"
      class="absolute right-0 mt-4 p-4 bg-gray-800 rounded-md text-white shadow-md"
      [class.hidden]="!showUserDropdown"
    >
      <li>
        <span href="#" class="hover:text-gray-300" (click)="logout()"
          >Log out</span
        >
      </li>
    </ul>
  </div>
</nav>
